@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
background-color: #fff9f3;
  font-family: Arial, Helvetica, sans-serif;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
}
